.state {
  max-width: 300px;
  padding: 1rem;
  box-shadow: -5px -5px 10px var(--button-light),
    5px 5px 10px var(--button-dark);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: 0.3s ease all;
}

.state:hover {
  box-shadow: -5px -5px 10px var(--button-light),
    5px 5px 10px var(--button-dark), -5px -5px 10px var(--button-light) inset,
    5px 5px 10px var(--button-dark) inset;
}

.state .number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  font-size: 2rem;
  box-shadow: -5px -5px 10px var(--button-light),
    5px 5px 10px var(--button-dark);
  background: var(--body-bg);
  margin-top: -2.5rem;
  border-radius: 1000px;
}

.state .heading {
  font-size: 1.2rem;
  line-height: 1.2rem;
  white-space: nowrap;
}