#home.wrapper {
  align-items: center;
  max-width: unset;
  flex-wrap: nowrap;
}

#home .left {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 1rem;
}

#home .left .heading {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#home .left .subheading,
#home .left .subheading * {
  font-size: 1rem;
}

#home .left .heading span:nth-child(1) {
  position: relative;
  left: -15rem;
  animation: reveal 1s ease forwards;
}

#home .left .heading span:nth-child(2) {
  position: relative;
  left: -15rem;
  animation: reveal 1s 0.5s ease forwards;
}

#home .left .heading span:nth-child(3) {
  position: relative;
  left: -15rem;
  animation: reveal 1s 1s ease forwards;
}

#home .right img {
  border-radius: 50%;
  max-width: 350px;
  max-height: 350px;
}

@keyframes reveal {
  0% {
    left: -15rem;
  }

  100% {
    left: 0;
  }
}

@media only screen and (max-width: 768px) {
  #home.wrapper {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  #home .right img {
    height: 250px;
    width: 250px;
  }
}